:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);
  background: linear-gradient(
    315deg,
    rgba(80, 157, 113, 1) 0%,
    rgba(68, 138, 98, 1) 10%,
    rgba(56, 118, 83, 1) 24%,
    rgba(39, 91, 62, 1) 38%,
    rgba(25, 68, 44, 1) 60%,
    rgba(16, 54, 32, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --dark: #124b2a; */
  --dark: #103620;
  --light: #d8ffca;
  --highlight: #e5b5cc;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  /* color: var(--highlight); */
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--dark);
}

body::-moz-scrollbar {
  width: 10px;
  background-color: var(--light);
}

body::-moz-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 5px;
}

body::-moz-scrollbar-track {
  background-color: var(--dark);
}
